.my-panel {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 14px;
}
.my-panel_body {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.my-panel-title {
  margin-left: 10px;
  margin-right: 10px;
  color: #666666;
  font-size: 18px;
}
.my-panel-footer {
  margin: 10px;
  color: #586C94;
  font-size: 12px;
  background: #ffffff;
}
